{% extends 'staff/base.html' %}
{% load static %}

{% block title %}Options{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row head">
    <div class="col">
      <h1>Options</h1>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'staff:create_option' %}" class="btn btn-primary">Create</a>
    </div>
  </div>
</div>
{% for option in options %}
<div class="container">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ option }}</h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h5>Price: {{ option.price }}</h5>
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-danger float-sm-end">Delete</a>
            </div>
          </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}
