{% extends 'erp_system/base.html' %}
{% load static %}

{% block title %}Planes{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row head">
    <div class="col">
      <h1>Airplanes</h1>
    </div>
    <div class="col-md-auto">
      <a href="{% url 'erp_system:create_airplane' %}" class="btn btn-primary create-flight">Create</a>
    </div>
  </div>
</div>
{% for plane in airplanes %}
<div class="container">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title">{{ plane }}</h5>
            </div>
            <div class="col-2">
              <a href="#" class="btn btn-danger float-sm-end">Delete</a>
            </div>
          </div>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}
